@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


* {
    background: #000000;
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    height: 300vh;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
    text-align: center;
}

.itachi{
     display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1{
  font-size:large;
}